<h1>Listing all articles</h1>
<% if logged_in? %>
<%= link_to "create new article", new_article_path %>
<% end %>
<div>
    <%= render  "article" , obj:@articles %>
</div>
<div class="center">
    <%= will_paginate %>
</div>