<h1>showing selected article</h1>
<p>
    <%= @article.title %>
</p>
<p>

<%= link_to "Edit article", edit_article_path %>
     <%= @article.description %>
<%= link_to "Back to articles", articles_path %>
</p>