<div class="home">

</div>
<div class="home-cover"></div>
<div class="jumbotron text-center">
    <h1>Terek</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, minus, veritatis. Ducimus quasi iusto </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
</div>
<svg id="svg-image-blur">
    <filter id="blur-effect-1">
        <feGaussianBlur stdDeviation="1" />
    </filter>
</svg>